<html>
<title>Web Number Guesser</title>
<head><h1>GUESS THAT! NUMBER</h1></head>
<style>
	body {
		background: red;
	}
</style>
<body>
	<p><%= message %></p>
	<p><%= if params["guess"] == number
			"The secret number is #{number}"
			end %></p>
	<form>
		<input type='text' name='guess' />
		<input type='submit' value='Guess!' />
	</form>
</body>
</html>